### IDE ###
nbproject/
.vscode/
.idea/

### Composer ###
composer.phar

### General ###
*.log
cache.properties

### CI ###
.build/bin/
.build/vendor/
.build/web/
.build/logs/
.build/coverage/
.build/pdepend/
